<h3>See Also</h3>\
<p class="view"><a target="_blank" href="http://ninjablocks.com/pages/device-ids"><i class="icon-info-sign"></i> List of Device IDs</a></p>
<p class="view"><a target="_blank" href="http://forums.ninjablocks.com"><i class="icon-info-sign"></i> Forums</a></p>
<p class="view"><a target="_blank" href="https://github.com/ninjablocks"><i class="icon-github-alt"></i> Code</a></p>
<p class="view"><a target="_blank" href="https://groups.google.com/forum/?fromgroups#!forum/ninjablocks"><i class="icon-envelope"></i> Mailing List</a></p>