<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %} {{ page.title }} | {% endif %} Ninja Blocks API Documentation</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="stylesheets/font-awesome-ie7.css">
    <![endif]-->
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="javascripts/smooth.pack.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Ninja Blocks API</h1>
        <h3>/rest/v0</h3>
        <p></p>
        <p class="view"><a href="index.html"><i class="icon-home"></i> Home</a></p>
        <h3>Basics</h3>
        <h4><a href="core-concepts.html"><i class="icon-book"></i> Core Concepts</a></h4>
        <h4><a href="authentication.html"><i class="icon-unlock"></i> Authentication</a></h4>
        <h3>Objects</h3>
        <h4><a href="user.html"><i class="icon-group"></i> User</a></h4>
        <h4><a href="block.html"><i class="icon-hdd"></i> Block</a></h4>
        <h4><a href="device.html"><i class="icon-sitemap"></i> Device</a></h4>
        <h4><a href="rule.html"><i class="icon-legal"></i> Rule</a></h4>
        <h3>See Also</h3>
        <p class="view"><a target="_blank" href="https://github.com/ninjablocks/ninjablocks.github.com/wiki/_pages"><i class="icon-beaker"></i> Examples</a>
        <p class="view"><a target="_blank" href="http://help.ninja.is"><i class="icon-info-sign"></i> Support</a></p>
        <p class="view"><a target="_blank" href="https://github.com/ninjablocks"><i class="icon-github"></i> Code</a></p>
        <p class="view"><a target="_blank" href="https://groups.google.com/forum/?fromgroups#!forum/ninjablocks"><i class="icon-envelope"></i> Mailing List</a></p>
      </header>
      {{ content }}
      <script src="javascripts/scale.fix.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31570375-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </body>
</html>