<!doctype html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Ninja Blocks API</h1>
        <h3>/rest/v0</h3>
        <p></p>
        {% include top-nav.html %}
        <h4><a href="/core-concepts.html"><i class="icon-book"></i> Core Concepts</a></h4>
        <h4><a href="/rest"><i class="icon-bolt"></i> REST</a></h4>
        <!--<h4><a href="/module"><i class="icon-cogs"></i> Modules</a></h4>-->
        <h4><a href="/protocol"><i class="icon-book"></i> Device Protocols</a></h4>
        <div class="active-nav-block">
          <h4><a href="/protocol/list.html"><i class="icon-list"></i> List</a></h4>
        </div>
        {% include see-also.html %}
      </header>
      {{ content }}
      {% include footer.html %}
  </body>
</html>