<!doctype html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Ninja Blocks API</h1>
        <h3>/rest/v0</h3>
        <p></p>
        {% include top-nav.html %}
        <h4><a href="/core-concepts.html"><i class="icon-book"></i> Core Concepts</a></h4>
        <h4><a href="/rest"><i class="icon-bolt"></i> REST</a></h4>
        <div class="active-nav-block">
          <h4><a href="/rest/authentication.html"><i class="icon-unlock"></i> Authentication</a></h4>
          <h4><a href="/rest/user.html"><i class="icon-group"></i> User</a></h4>
          <h4><a href="/rest/block.html"><i class="icon-hdd"></i> Block</a></h4>
          <h4><a href="/rest/device.html"><i class="icon-sitemap"></i> Device</a></h4>
          <h4><a href="/rest/rule.html"><i class="icon-legal"></i> Rule</a></h4>
        </div>
        <h4><a href="/protocol"><i class="icon-book"></i> Device Protocols</a></h4>
        <!--
        <h4><a href="/module"><i class="icon-cogs"></i> Modules</a></h4>
        -->
        {% include see-also.html %}
      </header>
      {{ content }}
      {% include footer.html %}
  </body>
</html>